body {
  margin: 0;
  padding: 0;
  font: 16px;
  font-family: sans-serif;
  background-color: #2d2013;
}

.hero {
  background: #2c0909d4;
  display: flex;
  justify-content: space-around;
}

.hero h1 {
    color: goldenrod;
}

.nav {
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
}


.nav input {
  padding: 12px;
  font-size: 14px;
  height: 30px;
  width: 110px;
  border-radius: 3px;
}

.nav button {
  padding: 10px;
  border: 1px solid red;
  color: white;
  background-color: red;
  border-radius: 5px;
}

.fa-brands {
  color: rgb(31, 31, 245);
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.movie {
  min-height: 350px;
  width: 350px;
  background-color: aqua;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie p {
  opacity: 0;
}

.movie:hover p {
  background-color: rgba(235, 44, 44, 0.581);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: white;
  opacity: 1;
}

h2 {
  position: absolute;
  bottom: 0;
  color: rgb(247, 234, 234);
}